.main {
  .container {

    display: flex;
    justify-content: space-between;
    height: 100vh;
    position: relative;

    &>div {
      width: 50%;
      height: calc(100% - 100px);
      overflow-y: auto;
      padding: 40px;
      position: relative;
      margin-top: 80px;

      @include rwd(desktop-w) {
        margin-top: 100px;
      }

      h1 {
        text-align: center;
        position: absolute;
        font-size: 14px;
        font-weight: 400;
        right: 20px;
        top: 10px;
        color: #999;
      }
    }

    .taiwan {
      border-right: 1px solid #e9e9e9;
      background-color: #EEF6F6;
    }

    .block {
      margin-bottom: 40px;

      .title {
        font-size: 14px;
        margin-bottom: 10px;

        span {
          display: inline-block;
          // width: 22px;
          // line-height: 22px;
          font-size: 16px;
          text-decoration: underline;
          color: #ff3912;
          // background-color: #E3D93B;
          // text-align: center;
          // border-radius: 50%;
        }
      }

      .order {
        background-color: #fff;
        padding: 0 0 0 20px;
        border-radius: 6px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, .05);
        margin-bottom: 10px;
        transition: background-color .7s ease;

        &.is-check {
          opacity: .5;
        }

        .content {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;

          .checker {
            width: 70px;
            margin-top: 1em;
            margin-right: 10px;

            input[type="checkbox"] {
              display: none;

              &~label {
                font-size: 12px;
                font-weight: 900;
                cursor: pointer;
                position: relative;
                padding: 10px 15px;
                background-color: #cecbc3d7;
                // border-radius: 6px;
                color: #fff;


                &:before {
                  content: "";
                  vertical-align: middle;
                  width: 10px;
                  height: 6px;
                  border-left: 1px solid #fff;
                  border-bottom: 1px solid #fff;
                  transform: rotate(-45deg);
                  margin-right: 5px;
                  margin-bottom: 5px;
                  display: none;
                }

                &:after {
                  content: '未完成';
                  display: inline-block;
                }
              }

              &:checked {
                &~label {
                  color: #fff;
                  background-color: #69C99D;

                  &:before {
                    display: inline-block;
                  }

                  &:after {
                    content: '完成';
                  }

                }
              }
            }

          }

          .info {
            // width: 170px;
            // margin-right: 10px;
            margin-top: 1em;
            cursor: pointer;

            &.is-older {
              &:after {
                content: "老";
                display: block;
                width: 32px;
                line-height: 32px;
                background-color: #69C99D;
                color: #fff;
                font-size: 14px;
                font-weight: 900;
                border-radius: 50%;
                text-align: center;
                margin: 0 auto;
              }
            }

            .tag {
              font-size: 12px;

              b {
                display: inline-block;
                padding: 1px 10px;
                margin-right: 10px;
                padding: 5px 10px;
                background-color: #0baec4;
                letter-spacing: 2px;
                color: #fff;
                border-radius: 20px;
                font-weight: normal;
              }

              span {
                font-size: 15px;
                font-weight: 900;
                display: inline-block;
              }
            }

          }


        }

        .name {
          font-size: 20px;
          // text-align: center;
          font-weight: 900;
          padding-bottom: 10px;
          border-bottom: 1px solid #e9e9e9;

          span {
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
          }
        }

        .list {
          flex: 1;

          ol {
            margin: 0;
            padding: 0;
            list-style-position: inside;
          }

          li {
            font-size: 12px;
            line-height: 3;
            padding-left: 1em;
            padding-right: 1em;
            cursor: pointer;
            position: relative;

            @include rwd(desktop-w) {
              font-size: 14px;
            }

            &:nth-child(even) {
              background-color: #f0f0f0;
            }

            &:last-child {
              margin-bottom: 0;
            }

            &.is-shortage {
              color: #E08081;
              font-weight: 900;

              &:after {
                content: "缺";
                color: #fff;
                display: inline-block;
                border-radius: 6px;
                padding: 5px 10px;
                background-color: #E08081;
                margin-left: 10px;
                font-size: 16px;
                line-height: 20px;
                position: absolute;
                right: -16px;
                top: 50%;
                transform: translate(0, -50%);
              }
            }

            span {
              display: inline-block;
              width: 22px;
              line-height: 22px;
              font-size: 14px;
              color: #fff;
              background-color: #E08081;
              text-align: center;
              border-radius: 50%;

              &.important {
                width: 30px;
                font-size: 16px;
                font-weight: 900;
                line-height: 30px;
                background-color: #E3D93B;
                color: #333;
              }
            }
          }
        }

        .comment {
          padding-bottom: 20px;
          position: relative;

          button {
            position: absolute;
            min-width: auto;
            line-height: 36px;
            height: 36px;
            font-size: 12px;
            right: 20px;
            top: 0;
            color: #777;
            background-color: transparent;
            border: 1px solid #e9e9e9;
            border-bottom: none;
          }

          p {
            font-size: 14px;
            color: #999;
          }

          &.customer {
            textarea {
              min-height: 5em;
            }
          }

          textarea {
            width: calc(100% - 20px);
            min-height: 10em;
            border: 1px solid #e9e9e9;
            background: none;
            padding: 10px;
            appearance: none;
            outline: none;
          }
        }
      }
    }

  }

  .summary {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 20px rgba(0, 0, 0, .1);
    height: 80px;

    @include rwd(desktop-w) {
      height: 100px;
    }

    .done {
      font-size: 14px;
      padding-top: 22px;

      @include rwd(desktop-w) {
        font-size: 18px;
        padding-top: 28px;
      }

      &>div {
        display: inline-block;
        background-color: #f0f0f0;
        padding: 8px 15px;
        margin-right: 14px;
        border-radius: 4px;
        color: #fff;

        span {
          padding: 0 5px;
        }
      }

      .store {
        background-color: #96AFB8;
      }

      .hk {
        background-color: #E08081;
        color: #fff;
      }

      .takeit {
        background-color: #95B992;
        color: #fff;
      }

      .all {
        margin: 0;
        padding: 8px 15px;
        border-radius: 4px;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translate(0, -50%);
        background-color: #85C0D2;
        color: #fff;

        span {
          font-weight: 900;
          padding: 0 5px;
        }
      }
    }

    .choice {
      padding: 18px 0;

      @include rwd(desktop-w) {
        padding: 30px 0;
      }

      .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      .inputfile+label {
        max-width: 80%;
        height: 42px;
        font-size: 1rem;
        letter-spacing: .143em;
        /* 20px */
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 0.625rem 1.25rem;
        /* 10px 20px */
      }

      .inputfile:focus+label,
      .inputfile.has-focus+label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }

      .inputfile+label * {
        /* pointer-events: none; */
        /* in case of FastClick lib use */
      }

      .inputfile+label svg {
        display: inline-block;
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        margin-top: -0.25em;
        /* 4px */
        margin-right: 0.5em;
        /* 4px */
      }

      .inputfile-1+label {
        color: #f1e5e6;
        background-color: #E07B8C;
        border-radius: 4px;
      }

      .inputfile-1:focus+label,
      .inputfile-1.has-focus+label,
      .inputfile-1+label:hover {
        background-color: #EA92A0;
      }
    }
  }
}